body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed';
    font-size: 18px;
    background: #FFFC85;
    text-align: justify;
}
body > div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar{
    font-family: cursive;
    font-size: 20px;
    position: fixed;
    z-index: 1030;
    width: 100%;
}
.nav-link{
    color: black;
}
.bg-light{
    background: url("https://files.catbox.moe/i183nj.jpg") !important;
}
.logo{
    height: 50px;
    float: left;
}
#home{
    background: url("https://files.catbox.moe/euv01h.jpg");
    background-size: cover;
    font-family: 'Chewy';
    letter-spacing: 5px;
    color: #5A6978;
}
.img-circle{
    border: 3px solid white;
    border-radius: 50%;
}
.img-circle2{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 3px solid white;
    border-radius: 50%;
}
.img-circle2:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
} 
#gallery{
    text-align: center;
    justify-content: center;
}   
#contact{
    background: #C5C7CA;
    background-position: center;
    text-align: center;
}
.title{
    padding: 25px;
}
.square {
    /* width: 1000px; */
    padding: 3px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
.contact{
    width: 450px;
    text-align: left;
}
.row{
    padding: 5px;
}
