{% extends "base.html" %}
    {% load static %}
    {% block content %}
    <div id="status">
        <div class="col-md-12">
            <div class="container">
                <h1 class="title" style="text-align: center; justify-content: center; margin: 70px 0px 0px">Hello, How Are You?</h1>
                  <form id="form" style="width: 50%; margin: 0 auto" method="POST" action="{% url 'status' %}">
                      {% csrf_token %}
                      <div class="form-group center">
                          <label for="status"><strong>{{ form.status.label_tag }}</strong></label>
                          {{ form.status }}
                      </div>
                      <br>
                      <button id="submit" type="submit" class="btn btn-primary" value="Save"><h5>Add</h5></button>
                  </form>
                  <hr>
                    <div class="col-md-12">
                    {% if data %}
                        <h1>Status</h1>
                        {% for obj in data reversed %}
                            <div class="col center">
                                    <h4><strong>{{ obj.date }}</strong></h4>
                                    <h3>{{ obj.status }}</h3>
                                    <hr>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>
        {% endblock content %}